<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet"
	href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet"
	href="/bower_components/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet"
	href="/bower_components/Ionicons/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/dist/css/AdminLTE.min.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body onload="window.print();">

	<div class="wrapper">

		<section class="invoice">

			<div class="row">

				<div class="col-xs-12">
					<h2 class="page-header">
						<i class="fa fa-desktop"></i> SysTec - Gestão de Ordens de Serviço <small
							class="pull-right">Relatório de Funcionários</small>
					</h2>
				</div>

				<div class="box">
					<div class="col-xs-12 table-responsive">
						<table class="table table-hover table-striped">

									<thead>
										<tr>
											<th>ID</th>
											<th>Nome</th>
											<th>Salário</th>
											<th>Departamento</th>
											<th>Cargo</th>
											<th>Endereço</th>
											<th>Data de Entrada</th>
											<th>Data de Saída</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="f : ${funcionarios}">
											<td th:text="${f.id}">2</td>
											<td th:text="${f.nome}">Josuel</td>
											<td th:text="|R$ ${{f.salario}}|">R$ 3.560,70</td>
											<td th:text="${f.cargo.departamento.nome}">Administração</td>
											<td th:text="${f.cargo.nome}">Gerente</td>
											<td>
												<button type="button" class="btn btn-secondary btn-sm"
													data-container="body" data-toggle="popover"
													data-placement="top"
													th:attr="data-content=${#strings.concat(
			                                    f.endereco.logradouro, ', ', 
			                                    f.endereco.numero, ', ', 
			                                    f.endereco.complemento, ' - ', 
			                                    f.endereco.bairro, ', ',
			                                    f.endereco.cidade, ' - ', 
			                                    f.endereco.uf.sigla, ' - ',
			                                    f.endereco.cep
		                                    )}">

													<span class="fa fa-eye" title="Visualizar"
														aria-hidden="true"></span>
												</button>
											</td>
											<td th:text="${#dates.format(f.dataEntrada, 'dd-MMM-yyyy')}">2017/08/14</td>
											<td th:text="${#dates.format(f.dataSaida, 'dd-MMM-yyyy')}">02/03/2015</td>
										</tr>

									</tbody>
								</table>
					</div>
				</div>
				
				<div class = "box-footer">
				
					<footer class="box-footer">
					<div class="pull-right">
						<b>Versão</b> 1.0.0
					</div>
					<strong>Copyright &copy; 2019 Systec. </strong> Todos os direitos reservados.
					</footer>
					
				</div>
			</div>
	</div>

	<!-- jQuery 3 -->
	<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- SlimScroll -->
	<script
		src="../../bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<!-- FastClick -->
	<script src="../../bower_components/fastclick/lib/fastclick.js"></script>
	<!-- AdminLTE App -->
	<script src="../../dist/js/adminlte.min.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="../../dist/js/demo.js"></script>
	<script>
		var url = '';

		$('button[id*="btn_"]').click(function() {
			url = "http://localhost:8080/" + $(this).attr('id').split("_")[1];
		});

		$('#ok_confirm').click(function() {
			document.location.href = url;
		});

		$(function() {
			$('[data-toggle="popover"]').popover();
		});

		$(document).ready(function() {
			$('.sidebar-menu').tree()
		})
	</script>
</body>
</html>