<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Lista de departamentos</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet"
	href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet"
	href="/bower_components/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet"
	href="/bower_components/Ionicons/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">

		<header class="main-header">

			<!-- Logo -->
			<a href="/" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><b>S</b>T</span> <!-- logo for regular state and mobile devices -->
				<span class="logo-lg"><b>SYS</b>TEC</span>
			</a>

			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top">

				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="push-menu"
					role="button"> <span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
				</a>

				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">

						<!-- User Account: style can be found in dropdown.less -->
						<li class="dropdown user user-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <img
								src="../../dist/img/user2-160x160.jpg" class="user-image"
								alt="User Image"> <span class="hidden-xs">Alexander
									Pierce</span>
						</a>
							<ul class="dropdown-menu">
								<!-- User image -->
								<li class="user-header"><img
									src="../../dist/img/user2-160x160.jpg" class="img-circle"
									alt="User Image">

									<p>
										Alexander Pierce - Web Developer <small>Member since
											Nov. 2012</small>
									</p></li>

								<li class="user-footer">
									<div class="pull-left">
										<a href="#" class="btn btn-default btn-flat">Perfil</a>
									</div>
									<div class="pull-right">
										<a href="#" class="btn btn-default btn-flat">Sair</a>
									</div>
								</li>
							</ul></li>
					</ul>
				</div>
			</nav>
		</header>

		<div class="layout-main">
			<!-- Left side column. contains the sidebar -->
			<aside class="main-sidebar"
				th:replace="/fragments/sidebar :: nav-sidebar">
				<div>barra lateral</div>
			</aside>
		</div>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Departamentos <small>Consulta de Departamentos</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">Departamentos</a></li>
					<li class="active">Consultar</li>
				</ol>
			</section>
			<!-- Main content -->
			<section class="content">

				<div th:replace="/fragments/alert"></div>

				<!-- Default box -->
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Listar departamentos</h3>

						<a class="btn btn-primary btn-sm pull-right"
							href="/departamentos/cadastrar" role="button"> <i
							class="fa fa-plus"></i> <span>Cadastrar departamento</span>
						</a>

					</div>

					<div class="box-body">

						<div class="box-body form-group">

							<div class="table-responsive no-padding col-xs-12">
								<table class="table table-striped table-hover">
									<tbody>
										<tr>
											<th>ID</th>
											<th>Departamento</th>
											<th>Ações</th>
										</tr>
										<tr th:each="d : ${departamentos}">
											<td th:text="${d.id}">1</td>
											<td th:text="${d.nome}">Secretaria</td>
											<td colspan="2"><a class="btn btn-primary btn-sm"
												th:href="@{/departamentos/editar/{id} (id = ${d.id}) }"
												role="button"> <span class="fa fa-pencil" title="Editar"
													aria-hidden="true"></span>
											</a>
												<button th:id="${'btn_departamentos/excluir/' + d.id}"
													type="button" class="btn btn-danger btn-sm"
													data-toggle="modal" data-target="#myModal">
													<span class="fa fa-times" title="Excluir"
														aria-hidden="true"></span>
												</button></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>
					<!-- /.box-body -->

					<div class="box-footer">
					
						<a href = "/"><button type="button" class="btn btn-danger btn-sm">Voltar</button></a>
					
						<a class="btn btn-success btn-sm pull-right" href="/relatorio_departamentos" target="_blank" role="button">
							<i class="fa fa-file-pdf-o"></i> Gerar PDF
						</a>
						
						<a class="btn btn-sm btn-primary pull-right" href="/departamentos/relatorio" target="_blank" role="button" style="margin-right: 5px;">
							<i class="fa fa-print"></i> Imprimir relatório
						</a>
					</div>
					<!-- /.box-footer-->
				</div>
				<!-- /.box -->

				<div th:replace="/fragments/modal :: modal"></div>

			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Versão</b> 1.0.0
			</div>
			<strong>Copyright &copy; 2019 Systec. </strong> Todos os direitos
			reservados.
		</footer>

		<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->

	<!-- jQuery 3 -->
	<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- SlimScroll -->
	<script
		src="../../bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<!-- FastClick -->
	<script src="../../bower_components/fastclick/lib/fastclick.js"></script>
	<!-- AdminLTE App -->
	<script src="../../dist/js/adminlte.min.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="../../dist/js/demo.js"></script>
	<script>
		var url = '';

		$('button[id*="btn_"]').click(function() {
			url = "http://localhost:8080/" + $(this).attr('id').split("_")[1];
		});

		$('#ok_confirm').click(function() {
			document.location.href = url;
		});

		$(function() {
			$('[data-toggle="popover"]').popover();
		});

		$(document).ready(function() {
			$('.sidebar-menu').tree()
		})
	</script>
</body>
</html>