<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Relatório de Departamentos</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet"
	href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet"
	href="/bower_components/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet"
	href="/bower_components/Ionicons/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/dist/css/AdminLTE.min.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body onload="window.print();">

	<div class="wrapper">

		<section class="invoice">

			<div class="row">

				<div class="col-xs-12">
					<h2 class="page-header">
						<i class="fa fa-globe"></i> SysTec - Gestão de Ordens de Serviço <small
							class="pull-right">Relatório de departamentos</small>
					</h2>
				</div>

				<!-- Table row -->
				<div class="box">
					<div class="col-xs-12 table-responsive">
						<table class="table table-striped table-hover">
									<tbody>
										<tr>
											<th>ID</th>
											<th>Departamento</th>
										</tr>
										<tr th:each="d : ${departamentos}">
											<td th:text="${d.id}">1</td>
											<td th:text="${d.nome}">Secretaria</td>
										</tr>
									</tbody>
								</table>
					</div>
					<!-- /.col -->
				</div>
				
				<div class = "box-footer">
				
					<footer class="box-footer">
					<div class="pull-right">
						<b>Versão</b> 1.0.0
					</div>
					<strong>Copyright &copy; 2019 Systec. </strong> Todos os direitos reservados.
					</footer>
					
				</div>

			</div>
	</div>

	</section>

	<!-- jQuery 3 -->
	<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- SlimScroll -->
	<script
		src="../../bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<!-- FastClick -->
	<script src="../../bower_components/fastclick/lib/fastclick.js"></script>
	<!-- AdminLTE App -->
	<script src="../../dist/js/adminlte.min.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="../../dist/js/demo.js"></script>
	<script>
		var url = '';

		$('button[id*="btn_"]').click(function() {
			url = "http://localhost:8080/" + $(this).attr('id').split("_")[1];
		});

		$('#ok_confirm').click(function() {
			document.location.href = url;
		});

		$(function() {
			$('[data-toggle="popover"]').popover();
		});

		$(document).ready(function() {
			$('.sidebar-menu').tree()
		})
	</script>
</body>
</html>