<div th:if="${success} != null">
	<div class="alert alert-success alert-dismissible">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<span>
			<i class="icon fa fa-check"></i>
			<strong	th:text="${success}"></strong>
		</span>
	</div>
</div>

<div th:if="${fail} != null">
	<div class="alert alert-danger alert-dismissible">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<span>
			<i class="icon fa fa-ban"></i>
			<strong th:text="${fail}"></strong>
		</span>
	</div>
</div>